<a href="/entries/{{ id }}" class="entry-header">
    <h2>{{ title }}</h2>
</a>
<p class="entry-teaser">
    {{ body }}
</p>
<p class="entry-read-more">
    <a href="/entry/{{ id }}">Read on!</a>
</p>